<form action="/records/{{record.id}}/edit" method="POST">
  <div class="container">
    <div class="row">
      <div>
        <h3>*必填欄位</h3>
        <h2>請輸入你的支出</h2>
      </div>
      <div>
        <h2>名稱*</h2>
        <input type="text" placeholder="name" name="name" value="{{record.name}}">
      </div>
    </div>

    <div>
      <h2>日期*</h2>
      {{!-- 尚未想到時間默認值處理 --}}
      <input id="date" type="date" name="date" value="{{record.date}}">
    </div>

    <div>
      <h2>類別*</h2>
      {{!-- 尚未搞定分類默認值 --}}
      <select name="category">
        　<option value="food">food</option>
        　<option value="transportation">transportation</option>
        　<option value="other">other</option>
        　<option value="entertainment">entertainment</option>
      </select>
    </div>

    <div>
      <h2>金額*</h2>
      <input type="text" name="amount" value="{{record.amount}}">
    </div>

    <button type="submit">修改支出</button>
  </div>
</form>